html, body { height: 100%; }
body { margin: 0; background-color: #1f1f1f; color: #cfcfcf; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }
a { color: #cfcfcf; }

#ui_header { height: 46px; border-collapse: collapse; overflow: hidden; background-color: #000000; padding: 2px; position: fixed; top: 0px; width: 100%; display: table-row; z-index: 1; }
#ui_header td { white-space: nowrap; font-size: 14pt; height: 34px; vertical-align: bottom; border-bottom: 2px solid black; }
#ui_header td.active { font-weight: bold; padding: 0px 10px 4px 10px; border-bottom: 2px solid #2f6fdf; }
#ui_user { width: 100%; text-align: right; border-bottom: 2px solid black; }
#ui_user button { color: #afafaf; font-size: 10pt; border: none; cursor: pointer; background-color: black; }
#ui_header td a { color: #7f7f7f; padding: 0px 10px 4px 10px; display: inline-block; text-decoration: none; }
#ui_header td a:hover { color: #dfdfdf; }
#ui_header td button:hover { color: #dfdfdf; }
#ui_menu button { width: 32px; height: 32px; background-size: 32px 32px; background-image: url('/res/img/glyphs/ui_menu.png'); border: none; background-color: #000000; cursor: pointer; }
#ui_menu button:hover { background-image: url('/res/img/glyphs/ui_menu_hot.png'); }
#ui_header td .icon { width: 32px; height: 32px; background-size: 32px 32px; border: none; }
#ui_header td button.icon { cursor: pointer; }

@media only screen and (min-width: 500px) {
  #ui_menu { display: none; }
}
@media only screen and (max-width: 499px) {
  #ui_user { display: none; }
}

#ui_usermenu_content { right: 0px; top: 46px; }
#ui_menu_content { left: 0px; top: 46px; }
.ui_menu_content { display: none; position: absolute; background-color: #2f2f2f; min-width: 160px; z-index: 1; border: 1px solid #4f4f4f; box-shadow: 4px 4px 12px #0f0f0f; padding-top: 10px; padding-bottom: 10px;
}
.ui_menu_content a { color: white; padding: 4px 20px 4px 20px; text-decoration: none; display: block; }
.ui_menu_content hr { border: 1px solid #4f4f4f; }
.ui_menu_content a:hover { background-color: #2f6fdf; }
.ui_menu_show { display:block; }

#ui_content { padding: 56px 10px 10px 10px; z-index: 2; }
